APP_NAME=Agendify
# APP ENV: local/production
APP_ENV=
APP_KEY=
APP_DEBUG=
APP_URL=http://localhost:8000

DB_CONNECTION=mysql

LOG_CHANNEL=stack
LOG_LEVEL=debug

CACHE_STORE=database
SESSION_DRIVER=database
QUEUE_CONNECTION=database

FILESYSTEM_DISK=public
